/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* end of reset */


/* Universal styles */
* {
  box-sizing: border-box;
  max-width: 100%;
}

/* General Styles all files reference this */
html {
  font-size: 65.2%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Chelsea Market', cursive;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 5rem;
}

section {
  padding: 4% 0;
  width: 90%;
  margin: 0 auto;
}

/* Header section styles*/
nav {
  padding: 1%;  
}

nav a {
 display: inline-block;
 padding: 1%;
 width: 12%;
 text-align: center;
 border-radius: 10px;
 color: #ffffff;
 text-decoration: none;
 margin-left: 10%;
}

nav a:hover {
  background-color: grey;
}

.red {
  background-color: rgb(255, 77, 77);
}

.orange {
  background-color: #FF764E;
  
}

.blue {
  background-color: #5ED3EB;
  
}

.yellow {
  background-color: #FFCD69;
 
}

/* Title section */
.main-header {
  position: relative;
}

.text, .image {
  display: inline-block;
}

.image {
  width: 30%;
}
.round {
  border-radius: 50%;
}

.text {
  width: 60%;
  margin-left: 5%;
  text-align: center;
  line-height: 2;
  position: absolute;
  top: 150px;
}

/* main */
#main-text {
  background-color:#DDB9A3;
  color: #ffffff;
  padding: 2%;
  text-align: center;
}

.info div {
  width: 30%;
  margin: 5% auto;
}

.bold {
  font-weight: bold;
}

.info p {
    text-align: center;
}

.bg-img {
  background-image: url('assets/footer_img.jpg');
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
}

footer {
  background-color: #F9E7DC;
}

/* Specific CSS for the Plan your visit page */
section div p {
  font-size: 2rem;
}

div.large-gallery {
  display: inline-block;
}

div.large-gallery img {
    width: 564px;
    height: auto;
    padding: 10px;
  }

  div.img-desc {
    padding: 10px;
    text-align: left;
  }

  div.img-desc p {
    font-size: 1.2rem;
    width:500px;
  }

  div.small-gallery {
    width:374px; 
    padding: 10px;
  }
  
  div.img-desc-small-gallery {
    padding: 15px;
    text-align: left;
  }

  div.img-desc-small-gallery p {
    width: 374px; 
    font-size: 1.2rem;
  }

  #center {
    width:60%;
    margin: 0 auto;
  }

  #map {
    width: auto;
    height: auto;
  }

  /* Specific CSS for the plan your visit and get involved page */
  .container {
    width: 90%;
    border-bottom: 1px solid lightgrey;
    height: 450px;
  }

  .text-container {
    width: 100%;
    height: auto;
  }

  .text-container h1 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .imgStyles {
    float: right;
    border-radius: 10px;
  }

  .text-container img {
    float: right;
  }

  .resize {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    float: right;
  }

  .bottom-border {
    border-bottom: 1px solid lightgrey;
    height: 230px;
  }

  .bottom-border h2 {
    font-size: 5rem;
  }
  
  .bottom-border div a {
    color: blue;
    text-decoration-style: dotted;
  }

  .bottom-border div a:hover {
    color: red;
  }

  .read-more {
    margin-top: 20px;
  }

  /* Specific CSS for the get involved page */
  .logos {
    float: right;
  }
  #logo1 {
    width: 10%;
    height: 10%;
  }

  ul {
    list-style: disc;
  }

  #logo2 {
    width: 18%;
    height: 18%;
  }

  .borders a {
    text-decoration-style: dashed;
  }

  .borders {
    padding: 20px;
    border-bottom: 1px solid lightgrey;
  }

  #header {
    padding: 2% 0;
  }

  #main h2 {
    font-size: 24px; 
    padding: 3% 0 2% 0;
  }

  .borders.listStyle {
    padding-left: 4rem;
  }

  #logo3 {
    width: 160px;
    height: 120px;
  }

  .borders.paraStyle  {
    padding: 10px;
  }

  .borders h2 {
    font-size: 40px;
  }

  .borders h3 {
    font-size: 26px;
  }

  #logo4 {
    width: 100px;
    height: 140px;
  }

 